h1 {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 80px;
}

footer {
  text-align: center;
}
